openapi: 3.0.1
info:
  title: API brtmp-microservices
  description: API with the external BRTMP services
  termsOfService: urn:tos
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 1.2.4
servers:
  - url: https://cat.api.firstdata.com/bwa/brtmp-microservices
    variables: {}
paths:
  /listTicket/{merchantId}:
    get:
      tags:
        - Service Order Information
      x-proxy-name: Service Order - Ticket - Find, by merchantId, the list of ticket registered in TMP
      description: Find, by merchantId, the list of ticket registered in TMP
      operationId: findByMerchantId
      parameters:
        - name: merchantId
          in: path
          description: The merchant Id Number
          required: true
          schema:
            type: string
            example: '00000123456789'
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DListTicket'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /service-order/logistics/{referenceNumberID}:
    get:
      tags:
        - Service Order Information
      x-proxy-name: Service Order - Ticket - Find, by the Service Order number, the Service Order's logistic data
      description: Find, by the Service Order number, the Service Order's logistic data
      operationId: findLogisticsBySoNumber
      parameters:
        - name: referenceNumberID
          in: path
          description: The Service Order reference number ID
          required: true
          schema:
            type: string
            example: 600000128529
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DServiceOrderLogisticData'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
components:
  schemas:
    DApiErro:
      type: object
      properties:
        timestamp:
          type: string
          description: Request date in format yyyy-MM-dd HH:mm:ss
          example: '2020-02-02 20:00:02'
        status:
          type: integer
          description: HTTP code
          format: int32
          example: 404
        error:
          type: string
          description: HTTP code description
          example: Not Found
        message:
          type: string
          description: Error message
          example: The requested resource was not found
        path:
          type: string
          description: URI
          example: /service-order-cancellation-reason/XYZ123
    DListTicket:
      type: object
      properties:
        merchantId:
          type: string
        ticketQuantity:
          type: string
          description: Number of tickets per merchant
          example: '15'
        dateTime:
          type: string
          description: Date time of request
          example: 2021-05-14 07:49 Sex
        listTicket:
          type: array
          description: List all tickets per merchant
          example: 2021-05-14 07:49 Sex
          items:
            $ref: '#/components/schemas/DTicket'
    DTicket:
      type: object
      properties:
        ticketNumber:
          type: string
          description: Ticket number
          example: '00000123456789'
        status:
          type: string
          description: status of ticket
        cancelId:
          type: string
          description: The cancel code
        cancelDescription:
          type: string
          description: 'The cancelDescription '
        createDate:
          type: string
          description: createDate ticket
        logicalTerminal:
          type: string
          description: logical terminal of merchant
        type:
          type: string
          description: ticket type
        lastChangeDate:
          type: string
          description: last update
        concludedDate:
          type: string
          description: the conclude date
        concludedDateTMS:
          type: string
        concludedDateSP:
          type: string
          description: Date the Service Provider sent cancellation
        cancelDate:
          type: string
          description: Date cancel ticket
          example: 2021-05-14 07:49 Sex
      description: List all tickets per merchant
      example: 2021-05-14 07:49 Sex
    DServiceOrderLogisticData:
      type: object
      properties:
        referenceNumberID:
          type: string
          description: The ticket number
          example: '600000128529'
        mobileOperator:
          type: string
          description: The mobile operator
          example: Algar
        specialConditions:
          type: string
          description: The special service conditions selected to this ticket
          example: URGENT
        serviceProvider:
          type: string
          description: The service provider that executed the ticket, with, if selected, the special modal
          example: 'GERTEC (MODAL: SF Modais)'
        type:
          type: string
          description: The service type.
          example: MAINTENANCE
          enum:
            - ACTIVATION
            - MAINTENANCE
            - EXCHANGE
            - UNINSTALL
            - SUPPLY
            - SCREENING
            - CHANGE_MOBILE
            - TECHNICAL
        createDate:
          type: string
          description: The ticket creation date
          example: '2020-09-17 18:09:41'
        scheduledDateFirst:
          type: string
          description: The ticket scheduled date
          example: 2020-09-28 10:00 MON
        rescheduledDate:
          type: string
          description: The ticket rescheduled date
          example: 2020-09-28 10:00 MON
        rescheduledTotal:
          type: string
          description: Number of rescheduling of the ticket
          example: '1'
        status:
          type: string
          description: The ticket status
          example: OPEN
          enum:
            - CONCLUDED
            - CANCELED
            - PENDING CLIENT
            - PENDING SYSTEM
            - PLANNED
            - DEACTIVATED
            - ACTIVATED
            - OPEN
            - PENDING REVERSAL
            - CLOSED
        concludedDateTMS:
          type: string
          description: The terminal activation date
          example: '2020-09-17 18:09:41'
        concludedDateSP:
          type: string
          description: The ticket conclusion date received from SP
          example: '2020-09-17 18:09:41'
        cancelDate:
          type: string
          description: The ticket cancel date
          example: '2020-09-17 18:09:41'
        cancelMotive:
          type: string
          example: Ticket cancelled by client request
        notes:
          type: string
          description: Notes, free type
          example: This is a note
        reasonCode:
          type: string
          description: The cancellation reason code, as registered in TMP
          example: MCT001
        timeLine:
          type: string
          description: The timeline
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: https://prod.api.firstdata.com/bwa/brtmp-microservices
